<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/profile" />
    </ion-buttons>
    <ion-title>Configurar perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (loading()) {
    <div class="loading-container">
      <ion-spinner name="crescent" />
    </div>
  } @else if (error()) {
    <ion-text color="danger">{{ error() }}</ion-text>
  } @else {
    <app-patient-profile-form
      [diabetesTypeOptions]="diabetesTypeOptions()"
      [genderOptions]="genderOptions()"
      (save)="onSave($event)"
      (cancel)="onCancel()" />
  }
</ion-content>
